* {
	box-sizing: border-box;
	font-family: sans-serif;
	color: #333;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 20px auto;
	text-align: center;	
	text-transform: uppercase;
	color: #333;
}

hr {
	width: 80%;
	margin-bottom: 30px;
}

.grid {
	padding: 0;
	width: 100%;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
	justify-items: center;
}

.card {
	background-color: whitesmoke;
	border: 1px solid #666;
	box-shadow: 3px 3px 3px #666;
	border-radius: 5px;
	width: 90%;
	padding: 5px;
	text-transform: capitalize;
	margin: auto;
	transition: .3s;
	cursor: pointer;
}

.card:hover {
	box-shadow: 15px 10px 3px #666;
}

.userAvatar {
	height: 80px;
	width: 80px;
	float: left;
	border-radius: 50%;
	margin: 5px 15px 5px 5px;
}

.userName {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 1.1em;
	font-weight: bold;
}

.userEmail,
.userCity {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: .7em;
}

/*Overlay - Modal window ------------------------*/

#additional-user-info {
	display: none;
}

#modal-window {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-card {
	background-color: whitesmoke;
	border: 1px solid #666;
	box-shadow: 3px 3px 3px #666;
	border-radius: 5px;
	width: 300px;
	height: 400px;
	list-style-type: none;
	padding: 5px;
	text-transform: capitalize;
	position: absolute;
}

.modal-card > div {
	display: block;
}

.overlay-user-info {
	text-align: center;
}

.overlayAvatar {
	border-radius: 50%;
}




/*Media query --------------------------------- */

@media (min-width: 768px) {
	.grid {
		grid-template-columns: 50% 50%;
	}
	.card {
		width: 80%;
	}	
	.modal-card {
		width: 400px;
		height: 500px; 
	}
	.overlay-user-info {
		margin-top: 50px;
	}
}

@media (min-width: 1024px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.card {
		width: 90%;
	}
}